.wp-block-columns {
  display: flex;
  margin-bottom: 1.75em;
  box-sizing: border-box;
  flex-wrap: wrap !important;
  align-items: normal !important;
}
@media (min-width: 782px) {
  .wp-block-columns {
    flex-wrap: nowrap !important;
  }
}
.wp-block-columns.are-vertically-aligned-top {
  align-items: flex-start;
}
.wp-block-columns.are-vertically-aligned-center {
  align-items: center;
}
.wp-block-columns.are-vertically-aligned-bottom {
  align-items: flex-end;
}
@media (max-width: 781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: 100% !important;
  }
}
@media (min-width: 782px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: 0;
    flex-grow: 1;
  }
  .wp-block-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column[style*="flex-basis"] {
    flex-grow: 0;
  }
}
.wp-block-columns.is-not-stacked-on-mobile {
  flex-wrap: nowrap !important;
}
.wp-block-columns.is-not-stacked-on-mobile > .wp-block-column {
  flex-basis: 0;
  flex-grow: 1;
}
.wp-block-columns.is-not-stacked-on-mobile
  > .wp-block-column[style*="flex-basis"] {
  flex-grow: 0;
}

.wp-block-column {
  flex-grow: 1;
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word;
}

.wp-block[data-align="left"] > [data-type="core/embed"],
.wp-block[data-align="right"] > [data-type="core/embed"] {
  max-width: 360px;
  width: 100%;
}

.wp-embed-responsive .wp-has-aspect-ratio iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.wp-block-group {
  box-sizing: border-box;
}

.wp-block-image img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}
.wp-block-image.has-custom-border img,
.wp-block-image img {
  box-sizing: border-box;
}
.wp-block-image.aligncenter {
  text-align: center;
}
.wp-block-image.alignfull img {
  height: auto;
  width: 100%;
}
.wp-block-image.aligncenter,
.wp-block-image .aligncenter,
.wp-block-image.alignleft,
.wp-block-image .alignleft {
  display: table;
}
.wp-block-image.aligncenter > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.alignleft > figcaption,
.wp-block-image .alignleft > figcaption {
  display: table-caption;
  caption-side: bottom;
}
.wp-block-image .alignleft {
  float: left;
  margin: 0.5em 1em 0.5em 0;
}
.wp-block-image .aligncenter {
  margin-left: auto;
  margin-right: auto;
}

.wp-block-image :where([style*="border-top-color"]) {
  border-top-style: solid;
}
.wp-block-image :where([style*="border-right-color"]) {
  border-right-style: solid;
}
.wp-block-image :where([style*="border-bottom-color"]) {
  border-bottom-style: solid;
}
.wp-block-image :where([style*="border-left-color"]) {
  border-left-style: solid;
}
.wp-block-image :where([style*="border-width"]) {
  border-style: solid;
}
.wp-block-image :where([style*="border-top-width"]) {
  border-top-style: solid;
}
.wp-block-image :where([style*="border-right-width"]) {
  border-right-style: solid;
}
.wp-block-image :where([style*="border-bottom-width"]) {
  border-bottom-style: solid;
}
.wp-block-image :where([style*="border-left-width"]) {
  border-left-style: solid;
}
.wp-block-image figure {
  margin: 0;
}

ol,
ul {
  box-sizing: border-box;
}

@keyframes overlay-menu__fade-in-animation {
  0% {
    opacity: 0;
    transform: translateY(0.5em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.has-text-align-center {
  text-align: center;
}

.aligncenter {
  clear: both;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #ddd;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

html :where([style*="border-top-color"]) {
  border-top-style: solid;
}
html :where([style*="border-right-color"]) {
  border-right-style: solid;
}
html :where([style*="border-bottom-color"]) {
  border-bottom-style: solid;
}
html :where([style*="border-left-color"]) {
  border-left-style: solid;
}
html :where([style*="border-width"]) {
  border-style: solid;
}
html :where([style*="border-top-width"]) {
  border-top-style: solid;
}
html :where([style*="border-right-width"]) {
  border-right-style: solid;
}
html :where([style*="border-bottom-width"]) {
  border-bottom-style: solid;
}
html :where([style*="border-left-width"]) {
  border-left-style: solid;
}
html :where(img[class*="wp-image-"]) {
  height: auto;
  max-width: 100%;
}
figure {
  margin: 0 0 1em;
}

/* test */
.su-u-clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.su-u-trim > :first-child {
  margin-top: 0;
}
.su-u-trim > :last-child {
  margin-bottom: 0;
}

.su-accordion {
  margin-bottom: 1.5em;
}
.su-accordion .su-spoiler {
  margin-bottom: 0.5em;
}

.su-posts-default-loop .su-post {
  margin-bottom: 2.5em;
  line-height: 1.5;
}
.su-posts-default-loop .su-post:after {
  content: "";
  display: table;
  clear: both;
}
.su-posts-default-loop .su-post-thumbnail {
  float: left;
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 1em;
}
.su-posts-default-loop .su-post-thumbnail img {
  max-width: 100px;
  max-height: 100px;
}
.su-posts-default-loop h2.su-post-title {
  clear: none;
  margin: 0 0 0.3em;
  font-size: 1.2em;
  font-weight: 700;
}
.su-posts-default-loop .su-post-meta {
  margin-bottom: 0.7em;
  font-size: 0.8em;
  opacity: 0.6;
}
.su-posts-default-loop .su-post-excerpt {
  margin-bottom: 0.5em;
}
.su-posts-default-loop .su-post-excerpt p:last-child {
  margin-bottom: 0;
}

.su-spoiler {
  margin-bottom: 1.5em;
}
.su-spoiler .su-spoiler:last-child {
  margin-bottom: 0;
}
.su-spoiler-title {
  position: relative;
  cursor: pointer;
  min-height: 20px;
  line-height: 20px;
  padding: 7px 7px 7px 34px;
  font-weight: 700;
  font-size: 13px;
}
.su-spoiler-title:focus {
  outline: currentColor thin dotted;
}
.su-spoiler-icon {
  position: absolute;
  left: 7px;
  top: 7px;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 21px;
  text-align: center;
  font-size: 14px;
  font-family: ShortcodesUltimateIcons;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
.su-spoiler-content {
  padding: 14px;
  transition: padding-top 0.2s;
  -ie-transition: padding-top 0.2s;
}

.su-spoiler-icon-chevron .su-spoiler-icon:before {
  content: "\f078";
  font-family: "FontAwesome";
}
.su-spoiler-icon-chevron.su-spoiler-closed .su-spoiler-icon:before {
  content: "\f054";
  font-family: "FontAwesome";
}

.su-spoiler-style-default > .su-spoiler-title {
  padding-left: 27px;
  padding-right: 0;
}
.su-spoiler-style-default > .su-spoiler-title > .su-spoiler-icon {
  left: 0;
}
.su-spoiler-style-default > .su-spoiler-content {
  padding: 1em 0 1em 27px;
}

.aps-each-icon {
  display: inline-block;
  position: relative;
}
.aps-each-icon a {
  display: block;
  position: relative;
  z-index: 555;
  border-bottom: none !important;
}
.aps-each-icon img {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.aps-each-icon a:hover img {
  opacity: 1 !important;
}
.aps-group-horizontal .aps-each-icon:first-child {
  margin-left: 0 !important;
}

.aps-social-icon-wrapper:before,
.aps-social-icon-wrapper:after {
  content: "";
  display: table;
}
.aps-social-icon-wrapper:after {
  clear: both;
}
