@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  border: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
small,
strike,
li,
ul,
fieldset,
form,
label,
legend,
button,
table,
tr,
th,
td {
  border: none;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background: #f5efe0;
  box-sizing: border-box;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    sans-serif;
  font-size: 1.8rem;
  letter-spacing: -0.015em;
  text-align: left;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont,
      "Helvetica Neue", Helvetica, sans-serif;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  word-wrap: break-word;
}

#site-content {
  overflow: hidden;
}

.group::after,
.entry-content::after {
  clear: both;
  content: "";
  display: block;
}

a,
path {
  transition: all 0.15s linear;
}

/* Screen Reader Text ------------------------ */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
.faux-heading {
  font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
  font-weight: 700;
  letter-spacing: -0.0415625em;
  line-height: 1.25;
  margin: 3.5rem 0 2rem;
}

h1 {
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.138888889;
}

h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2.1rem;
}
h6 {
  font-size: 1.6rem;
  letter-spacing: 0.03125em;
  text-transform: uppercase;
}

p {
  line-height: 1.5;
  margin: 0 0 1em 0;
}

i,
q {
  font-style: italic;
}

em i,
i em,
i i {
  font-weight: bolder;
}

b,
strong {
  font-weight: 700;
}

hr {
  border-style: solid;
  border-width: 0.1rem 0 0 0;
  border-color: #dcd7ca;
  margin: 4rem 0;
}

.entry-content hr,
hr.styled-separator {
  background: linear-gradient(
    to left,
    currentColor calc(50% - 16px),
    transparent calc(50% - 16px),
    transparent calc(50% + 16px),
    currentColor calc(50% + 16px)
  );
  background-color: transparent !important;
  border: none;
  height: 0.1rem;
  overflow: visible;
  position: relative;
}

hr.styled-separator {
  color: #6d6d6d;
}

.entry-content hr::before,
.entry-content hr::after,
hr.styled-separator::before,
hr.styled-separator::after {
  background: currentColor;
  content: "";
  display: block;
  height: 1.6rem;
  position: absolute;
  top: calc(50% - 0.8rem);
  transform: rotate(22.5deg);
  width: 0.1rem;
}

.entry-content hr::before,
hr.styled-separator::before {
  left: calc(50% - 0.5rem);
}

.entry-content hr::after,
hr.styled-separator::after {
  right: calc(50% - 0.5rem);
}

a {
  color: #cd2653;
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
}

ul,
ol {
  margin: 0 0 3rem 3rem;
}

ul {
  list-style: disc;
}

ul ul {
  list-style: circle;
}

ul ul ul {
  list-style: square;
}

li {
  line-height: 1.5;
  margin: 0.5rem 0 0 2rem;
}

li > ul {
  margin: 1rem 0 0 2rem;
}

.reset-list-style,
.reset-list-style ul,
.reset-list-style ol {
  list-style: none;
  margin: 0;
}

.reset-list-style li {
  margin: 0;
}

samp {
  font-family: monospace;
  font-size: 0.9em;
  padding: 0.4rem 0.6rem;
}

samp {
  background: rgba(0, 0, 0, 0.075);
  border-radius: 0.2rem;
}

pre {
  border: 0.1rem solid #dcd7ca;
  line-height: 1.5;
  margin: 4rem 0;
  overflow: auto;
  padding: 3rem 2rem;
  text-align: left;
}

figure {
  display: block;
  margin: 0;
}

iframe {
  display: block;
  max-width: 100%;
}

video {
  display: block;
}

svg,
img,
embed,
object {
  display: block;
  height: auto;
  max-width: 100%;
}

figcaption {
  color: #6d6d6d;
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 1.5rem;
}

figcaption a {
  color: inherit;
}

iframe.instagram-media {
  margin: auto !important;
}

/* GALLERIES */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 3em 0 3em -0.8em;
  width: calc(100% + 1.6em);
}

.gallery-item {
  margin: 0.8em 0;
  padding: 0 0.8em;
  width: 100%;
}

.gallery-caption {
  display: block;
  margin-top: 0.8em;
}

fieldset {
  border: 0.2rem solid #dcd7ca;
  padding: 2rem;
}

legend {
  font-size: 0.85em;
  font-weight: 700;
  padding: 0 1rem;
}

label {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}

label.inline,
input[type="checkbox"] + label {
  display: inline;
  font-weight: 400;
  margin-left: 0.5rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  top: 2px;
  display: inline-block;
  margin: 0;
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border-radius: 0;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #dcd7ca;
  box-shadow: none;
  cursor: pointer;
}

input[type="checkbox"]:checked::before {
  content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23000000%27%2F%3E%3C%2Fsvg%3E");
  position: absolute;
  display: inline-block;
  margin: -0.1875rem 0 0 -0.25rem;
  height: 1.75rem;
  width: 1.75rem;
}

input,
textarea,
button,
.button,
.faux-button {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    sans-serif;
  line-height: 1;
}

@supports (font-variation-settings: normal) {
  input,
  textarea,
  button,
  .button,
  .faux-button,
  .faux-button.more-link {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont,
      "Helvetica Neue", Helvetica, sans-serif;
  }
}

input,
textarea {
  border-color: #dcd7ca;
  color: #000;
}

input[type="url"],
input[type="email"],
input[type="tel"] {
  direction: ltr;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="tel"],
input[type="color"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  border-radius: 0;
  border-style: solid;
  border-width: 0.1rem;
  box-shadow: none;
  display: block;
  font-size: 1.6rem;
  letter-spacing: -0.015em;
  margin: 0;
  max-width: 100%;
  padding: 1.5rem 1.8rem;
  width: 100%;
}

select {
  font-size: 1em;
}

textarea {
  height: 12rem;
  line-height: 1.5;
  width: 100%;
}

input::-webkit-input-placeholder {
  line-height: normal;
}

input:-ms-input-placeholder {
  line-height: normal;
}

input::-moz-placeholder {
  line-height: revert; /* Reset to the value from the user-agent stylesheet. */
}

button,
.button,
.faux-button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #cd2653;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.0333em;
  line-height: 1.25;
  margin: 0;
  opacity: 1;
  padding: 1.1em 1.44em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.15s linear;
}

button:focus,
button:hover,
.button:focus,
.button:hover,
.faux-button:focus,
.faux-button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  text-decoration: underline;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  border-color: currentColor;
}

/* Tables ------------------------------------ */

table {
  border: 0.1rem solid #dcd7ca;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: 1.6rem;
  margin: 4rem 0;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

.alignleft > table {
  margin: 0;
}

th,
td {
  border: 0.1rem solid #dcd7ca;
  line-height: 1.4;
  margin: 0;
  overflow: visible;
  padding: 0.5em;
}

caption {
  background: #dcd7ca;
  font-weight: 600;
  padding: 0.5em;
  text-align: center;
}

thead {
  vertical-align: bottom;
  white-space: nowrap;
}

th {
  font-weight: 700;
}

.no-padding {
  padding: 0;
}

.screen-height {
  min-height: 100vh;
}

.admin-bar .screen-height {
  min-height: calc(100vh - 32px);
}

@media (max-width: 782px) {
  .admin-bar .screen-height {
    min-height: calc(100vh - 46px);
  }
}

.section-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
  width: calc(100% - 4rem);
}

.section-inner.max-percentage {
  width: 100%;
}

.section-inner.thin {
  max-width: 58rem;
}

.section-inner.small {
  max-width: 80rem;
}

.section-inner.medium {
  max-width: 100rem;
}

.toggle {
  -moz-appearance: none;
  -webkit-appearance: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: inherit;
  user-select: none;
}

button.toggle {
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  font-size: inherit;
  font-weight: 400;
  letter-spacing: inherit;
  padding: 0;
  text-transform: none;
}

.fill-children-current-color,
.fill-children-current-color * {
  fill: currentColor;
}

.wp-block-image.is-resized {
  margin-left: auto;
  margin-right: auto;
}

.cover-modal {
  display: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.cover-modal::-webkit-scrollbar {
  display: none !important;
}

.cover-modal.show-modal {
  display: block;
  cursor: pointer;
}

.cover-modal.show-modal > * {
  cursor: default;
}

#site-header {
  background: #fff;
  position: relative;
}

.header-inner {
  max-width: 168rem;
  padding: 3.15rem 0;
  z-index: 100;
}

.header-titles-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 4rem;
  text-align: center;
}

.site-logo a,
.site-logo img {
  display: block;
}

.header-titles .site-logo .site-logo {
  margin: 0;
}
.site-title,
.site-logo,
.site-description {
  margin: 0;
}

.site-logo img {
  max-height: 6rem;
  margin: 0 auto;
  width: auto;
}

.header-navigation-wrapper {
  display: none;
}

.header-inner .toggle {
  align-items: center;
  display: flex;
  overflow: visible;
  padding: 0 2rem;
}

.header-inner .toggle svg {
  display: block;
  position: relative;
  z-index: 1;
}

.header-inner .toggle path {
  fill: currentColor;
}

.toggle-inner {
  display: flex;
  justify-content: center;
  height: 2.3rem;
  position: relative;
}

.toggle-icon {
  display: block;
  overflow: hidden;
}

.toggle-inner .toggle-text {
  color: #6d6d6d;
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  top: calc(100% + 0.5rem);
  width: auto;
  white-space: nowrap;
  word-break: break-all;
}

.header-inner .toggle:focus .toggle-text,
.header-inner .toggle:hover .toggle-text {
  text-decoration: underline;
}

.nav-toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  width: 6.6rem;
}

.nav-toggle .toggle-icon,
.nav-toggle svg {
  height: 0.8rem;
  width: 2.6rem;
}

.nav-toggle .toggle-inner {
  padding-top: 0.8rem;
}

body:not(.overlay-header) #site-header .toggle {
  background-color: #000;
}

.primary-menu-wrapper {
  display: none;
}

ul.primary-menu {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -0.0277em;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: -0.8rem 0 0 -1.6rem;
}

.primary-menu .icon {
  display: block;
  height: 0.7rem;
  position: absolute;
  pointer-events: none;
  transform: rotate(-45deg);
  width: 1.3rem;
}

.primary-menu .icon::before,
.primary-menu .icon::after {
  content: "";
  display: block;
  background-color: currentColor;
  position: absolute;
  bottom: calc(50% - 0.1rem);
  left: 0;
}

.primary-menu .icon::before {
  height: 0.9rem;
  width: 0.2rem;
}

.primary-menu .icon::after {
  height: 0.2rem;
  width: 0.9rem;
}

.primary-menu li {
  font-size: inherit;
  line-height: 1.25;
  position: relative;
}

.primary-menu > li {
  margin: 0.8rem 0 0 1.6rem;
}

.primary-menu > li.menu-item-has-children > a {
  padding-right: 2rem;
}

.primary-menu > li > .icon {
  right: -0.5rem;
  top: calc(50% - 0.4rem);
}

.primary-menu a {
  color: inherit;
  display: block;
  line-height: 1.2;
  text-decoration: none;
  word-break: normal;
  word-wrap: normal;
}

.primary-menu a:hover,
.primary-menu a:focus {
  text-decoration: underline;
}

/* SUB MENU */

.primary-menu ul {
  background: #000;
  border-radius: 0.4rem;
  color: #fff;
  font-size: 1.7rem;
  opacity: 0;
  padding: 1rem 0;
  position: absolute;
  right: 9999rem;
  top: calc(100% + 2rem);
  transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
  transform: translateY(0.6rem);
  width: 20rem;
  z-index: 1;
}

.primary-menu li.menu-item-has-children:hover > ul,
.primary-menu li.menu-item-has-children:focus > ul,
.primary-menu li.menu-item-has-children.focus > ul {
  right: 0;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.15s linear, transform 0.15s linear;
}

.primary-menu ul::before,
.primary-menu ul::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
}

.primary-menu ul::before {
  height: 2rem;
  left: 0;
  right: 0;
}

.primary-menu ul::after {
  border: 0.8rem solid transparent;
  border-bottom-color: #000;
  right: 1.8rem;
}

.primary-menu ul a {
  background: transparent;
  border: none;
  color: inherit;
  display: block;
  padding: 1rem 2rem;
  transition: background-color 0.15s linear;
  width: 100%;
}

.primary-menu ul li.menu-item-has-children > a {
  padding-right: 4.5rem;
}

.primary-menu ul li.menu-item-has-children .icon {
  position: absolute;
  right: 1.5rem;
  top: calc(50% - 0.5rem);
}

/* DEEP DOWN */

.primary-menu ul ul {
  top: -1rem;
}

.primary-menu ul li.menu-item-has-children:hover > ul,
.primary-menu ul li.menu-item-has-children:focus > ul,
.primary-menu ul li.menu-item-has-children.focus > ul {
  right: calc(100% + 2rem);
}

.primary-menu ul ul::before {
  bottom: 0;
  height: auto;
  left: auto;
  right: -2rem;
  top: 0;
  width: 2rem;
}

.primary-menu ul ul::after {
  border-bottom-color: transparent;

  border-left-color: #000;
  bottom: auto;
  right: -1.6rem;
  top: 2rem;
}

.rtl .primary-menu ul ul::after {
  transform: rotate(180deg);
}

@media (any-pointer: coarse) {
  .primary-menu > li.menu-item-has-children > a {
    padding-right: 0;
    margin-right: 2rem;
  }

  .primary-menu ul li.menu-item-has-children > a {
    margin-right: 4.5rem;
    padding-right: 0;
    width: unset;
  }
}

body.touch-enabled .primary-menu > li.menu-item-has-children > a {
  padding-right: 0;
  margin-right: 2rem;
}

body.touch-enabled .primary-menu ul li.menu-item-has-children > a {
  margin-right: 4.5rem;
  padding-right: 0;
  width: unset;
}

.menu-modal {
  background: #fff;
  display: none;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  bottom: 0;
  left: -99999rem;
  right: 99999rem;
  top: 0;
  transition: opacity 0.25s ease-in, left 0s 0.25s, right 0s 0.25s;
  z-index: 99;
}

.admin-bar .menu-modal {
  top: 32px;
}

@media (max-width: 782px) {
  .admin-bar .menu-modal {
    top: 46px;
  }
}

.menu-modal.show-modal {
  display: flex;
}

.menu-modal.active {
  left: 0;
  opacity: 1;
  right: 0;
  transition: opacity 0.25s ease-out;
}

.menu-modal-inner {
  background: #fff;
  display: flex;
  justify-content: stretch;
  overflow: auto;
  -ms-overflow-style: auto;
  width: 100%;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

button.close-nav-toggle {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  justify-content: flex-end;
  padding: 3.1rem 0;
  width: 100%;
}

button.close-nav-toggle svg {
  height: 1.6rem;
  width: 1.6rem;
}

button.close-nav-toggle .toggle-text {
  margin-right: 1.6rem;
}

.menu-modal .menu-top {
  flex-shrink: 0;
}

.modal-menu {
  position: relative;
  left: calc(50% - 50vw);
  width: 100vw;
}

.modal-menu li {
  border-color: #dedfdf;
  border-style: solid;
  border-width: 0.1rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
  justify-content: flex-start;
  margin: 0;
}

.modal-menu > li > a,
.modal-menu > li > .ancestor-wrapper > a {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.0375em;
}

.modal-menu > li:last-child {
  border-bottom-width: 0.1rem;
}

.modal-menu .ancestor-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-menu a {
  display: block;
  padding: 2rem 2.5rem;
  text-decoration: none;
  width: 100%;
}

.modal-menu a:focus,
.modal-menu a:hover {
  text-decoration: underline;
}

button.sub-menu-toggle {
  border-left: 0.1rem solid #dedfdf;
  flex-shrink: 0;
  margin: 1rem 0;
  padding: 0 2.5rem;
}

button.sub-menu-toggle svg {
  height: 0.9rem;
  transition: transform 0.15s linear;
  width: 1.5rem;
}

button.sub-menu-toggle.active svg {
  transform: rotate(180deg);
}

.modal-menu ul {
  display: none;
  margin: 0;
  width: 100%;
}

.modal-menu ul li {
  border-left-width: 1rem;
}

.modal-menu ul li a {
  color: inherit;
  font-weight: 500;
}

.menu-wrapper .menu-item {
  position: relative;
}
.menu-wrapper .active {
  display: block;
}
.menu-wrapper.is-toggling {
  pointer-events: none;
}

.menu-wrapper.is-toggling .menu-item {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
}

.menu-wrapper.is-toggling .menu-bottom .social-menu .menu-item {
  width: auto;
}

.menu-wrapper.is-animating .menu-item,
.menu-wrapper.is-animating .toggling-target {
  transition-duration: 250ms;
}

.menu-wrapper.is-animating .menu-item {
  transition-property: transform;
}

.menu-wrapper.is-toggling .toggling-target {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.menu-wrapper.is-toggling .toggling-target.active {
  opacity: 0;
}

.menu-wrapper.is-animating.is-toggling .toggling-target {
  display: block;
  transition-property: opacity;
  opacity: 0;
}

.menu-wrapper.is-animating.is-toggling .toggling-target.active {
  opacity: 1;
}

.menu-wrapper.is-toggling .modal-menu > li:last-child li {
  border-top-color: transparent;
  border-bottom-width: 0.1rem;
}

@media (prefers-reduced-motion: reduce) {
  .menu-wrapper.is-animating .menu-item,
  .menu-wrapper.is-animating .toggling-target {
    transition-duration: 1ms !important;
  }
}

.mobile-menu {
  display: block;
}

.menu-bottom {
  flex-shrink: 0;
  padding: 4rem 0;
}

.menu-bottom nav {
  width: 100%;
}

.menu-copyright {
  display: none;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}

.menu-copyright a:focus,
.menu-copyright a:hover {
  text-decoration: underline;
}

.menu-bottom .social-menu {
  justify-content: center;
}

/* Post Header ------------------------------- */
h1.entry-title,
h2.entry-title {
  margin: 0;
}

.entry-title a {
  color: inherit;
  text-decoration: none;
}

.entry-title a:focus,
.entry-title a:hover {
  text-decoration: underline;
}

.intro-text {
  margin-top: 2rem;
}

.singular .intro-text {
  font-size: 2rem;
  letter-spacing: -0.0315em;
  line-height: 1.4;
}

/* POST META */
.post-meta-wrapper {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 58rem;
  width: 100%;
}

.post-meta {
  color: #6d6d6d;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  font-weight: 500;
  list-style: none;
  margin: -1rem 0 0 -2rem;
}

.post-meta li {
  flex-shrink: 0;
  letter-spacing: -0.016875em;
  margin: 1rem 0 0 2rem;
  max-width: calc(100% - 2rem);
}

.post-meta a {
  color: inherit;
  text-decoration: none;
}

.post-meta a:focus,
.post-meta a:hover {
  text-decoration: underline;
}

.post-meta .meta-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.post-meta .meta-icon {
  flex-shrink: 0;
  margin-right: 1rem;
}

.sticky .post-sticky {
  color: inherit;
}

.post-meta .post-author .meta-icon svg {
  width: 1.6rem;
  height: 1.8rem;
}

.post-meta .post-categories .meta-icon svg {
  width: 1.8rem;
  height: 1.7rem;
}

.post-meta .post-date .meta-icon svg {
  width: 1.7rem;
  height: 1.8rem;
}

.post-meta .post-edit .meta-icon svg {
  width: 1.8rem;
  height: 1.8rem;
}

.post-meta .post-sticky .meta-icon svg {
  width: 1.5rem;
  height: 1.8rem;
}

.post-meta .post-tags .meta-icon svg {
  width: 1.8rem;
  height: 1.8rem;
}

.post-meta svg * {
  fill: currentColor;
}

.post-inner {
  padding-top: 5rem;
}

.post-meta-wrapper.post-meta-single-bottom {
  margin-top: 3rem;
}

.author-bio {
  margin-top: 4rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 58rem;
  width: 100%;
}

.author-bio .author-title-wrapper {
  align-items: center;
  display: flex;
  margin: 0 0 1rem 0;
}

.author-bio .avatar {
  border-radius: 50%;
  margin-right: 1.5rem;
  height: 5rem;
  width: 5rem;
}

.author-bio p:last-child {
  margin-bottom: 0;
}

.author-bio .author-title {
  margin: 0;
}

.pagination-single {
  font-size: 1.8rem;
  margin-top: 5rem;
}

.pagination-single-inner {
  display: flex;
  flex-direction: column;
}

.pagination-single hr:first-child {
  margin: 0 0 2.8rem 0;
}

.pagination-single hr:last-child {
  margin: 2.8rem 0 0.8rem 0;
}

.pagination-single a {
  align-items: baseline;
  display: flex;
  font-weight: 600;
  letter-spacing: -0.0275em;
  text-decoration: none;
  flex: 1;
}

.pagination-single a + a {
  margin-top: 1rem;
}

.pagination-single a .arrow {
  margin-right: 1rem;
}

.pagination-single a:focus .title,
.pagination-single a:hover .title {
  text-decoration: underline;
}

.has-text-align-center {
  text-align: center;
}

*[class*="_inner-container"] > *:first-child {
  margin-top: 0;
}

*[class*="_inner-container"] > *:last-child {
  margin-bottom: 0;
}

.wp-block-columns:not(.alignfull),
.wp-block-image:not(.alignfull):not(.alignleft):not(.aligncenter) {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

[class*="__inner-container"] .wp-block-group:not(.alignfull):not(.alignleft) {
  margin-left: auto;
  margin-right: auto;
  max-width: 58rem;
}
.entry-content .wp-block-latest-comment > li {
  margin-left: 0;
}

.entry-content .wp-block-latest-comment > li:last-child {
  margin-bottom: 0;
}

.wp-block-columns.alignfull {
  padding-left: 2rem;
  padding-right: 2rem;
}

.wp-block-column {
  margin-bottom: 3.2rem;
}

.wp-block-column > *:first-child {
  margin-top: 0;
}

.wp-block-column > *:last-child {
  margin-bottom: 0;
}

.wp-block-group__inner-container {
  margin: 0 auto;
}

.wp-block-group__inner-container,
.entry-content .wp-block-group p {
  max-width: 100%;
}

.entry-content {
  line-height: 1.5;
}

.entry-content > * {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25em;
}

.entry-content > *:first-child {
  margin-top: 0;
}

.entry-content > *:last-child {
  margin-bottom: 0;
}

.read-more-button-wrap {
  margin-top: 1em;
  text-align: center;
}

.entry-content a:hover,
.entry-content a:focus {
  text-decoration: none;
}

.entry-content p,
.entry-content li {
  line-height: 1.4;
}

.entry-content li img {
  display: inline-block;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin: 3.5rem auto 2rem;
}

.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul {
  margin-bottom: 1rem;
}

.entry-content hr {
  margin: 4rem auto;
}

.entry-content {
  font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond,
    "Times New Roman", serif;
  letter-spacing: normal;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content figcaption,
.entry-content table,
.entry-content address {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    sans-serif;
}

@supports (font-variation-settings: normal) {
  .entry-content h1,
  .entry-content h2,
  .entry-content h3,
  .entry-content h4,
  .entry-content h5,
  .entry-content h6,
  .entry-content figcaption,
  .entry-content table,
  .entry-content address {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont,
      "Helvetica Neue", Helvetica, sans-serif;
  }
}

.entry-content > *:not(.alignfull):not(.alignleft):not(.is-style-wide) {
  max-width: 58rem;
  width: calc(100% - 4rem);
}

[class*="__inner-container"]
  > *:not(.alignfull):not(.alignleft):not(.is-style-wide) {
  width: 100%;
}

.alignnone,
.aligncenter,
.alignleft {
  margin-top: 4rem;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-left: auto;
}

[class*="__inner-container"] > *:not(.alignfull):not(.alignleft) {
  margin-left: auto;
  margin-right: auto;
}

.alignfull {
  margin-top: 5rem;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-left: auto;
  max-width: 100vw;
  position: relative;
  width: 100%;
}

[class*="__inner-container"] > .alignfull {
  max-width: 100%;
}

.aligncenter,
.aligncenter img {
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  max-width: 50%;
}

.alignleft {
  float: left;
  margin: 0.3rem 2rem 2rem 2rem;
}

.alignfull > figcaption {
  margin-left: auto;
  margin-right: auto;
  max-width: 58rem;
  width: calc(100% - 4rem);
}

div.comment:first-of-type {
  margin-top: 3.5rem;
  padding-top: 0;
}

.comment-body {
  position: relative;
}

.comment .comment {
  padding-left: 5%;
}

.comment-author {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.027777778em;
}

.comment-author a {
  text-decoration: underline;
}

.comment-author a:hover,
.comment-author a:focus {
  text-decoration: none;
}

.comment-author .url {
  text-decoration: underline;
}

.nav-links > * {
  margin: 1.5rem 0 0 2.5rem;
}

.nav-links .placeholder {
  display: none;
  visibility: hidden;
}

.nav-short {
  display: none;
}

.not-found #site-content {
  padding-top: 4rem;
}

.error404-content {
  text-align: center;
}

.not-found #site-content .search-form {
  justify-content: center;
  margin-top: 3rem;
}

.search-form {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 0 -0.8rem -0.8rem;
}

.search-form label {
  align-items: stretch;
  display: flex;
  font-size: inherit;
  margin: 0;
  width: 100%;
}
.search-form label input {
  background: #fff;
  border-radius: 0;
  border-style: solid;
  border-width: 0.1rem;
  box-shadow: none;
  display: block;
  font-size: 1.6rem;
  letter-spacing: -0.015em;
  margin: 0;
  max-width: 100%;
  padding: 1.5rem 1.8rem;
  width: 100%;
}

input[type="search"]:focus {
  outline: thin dotted;
  outline-offset: -4px;
}

.widget {
  margin-top: 3rem;
}

.widget:first-child {
  margin-top: 0;
}

.widget-content > div > *:first-child {
  margin-top: 0;
}

.widget-content > div > *:last-child {
  margin-bottom: 0;
}

.widget li {
  margin: 2rem 0 0 0;
}

.widget li:first-child,
.widget li > ul,
.widget li > ol {
  margin-top: 0;
}

.widget table,
.widget table * {
  border-color: #dedfdf;
}

.widget table caption {
  background-color: #dedfdf;
}

.widget .post-date,
.widget .rss-date {
  color: #6d6d6d;
  display: block;
  font-size: 0.85em;
  font-weight: 500;
  margin-top: 0.2rem;
}

.widget select {
  max-width: 100%;
}

/* Font Families ----------------------------- */

.widget_text p,
.widget_text ol,
.widget_text ul,
.widget_text dl,
.widget_text dt {
  font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond,
    "Times New Roman", serif;
  letter-spacing: normal;
}

.widget-content figcaption {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    sans-serif;
}

@supports (font-variation-settings: normal) {
  .widget-content figcaption {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont,
      "Helvetica Neue", Helvetica, sans-serif;
  }
}

#site-footer {
  background-color: #fff;
  border-color: #dedfdf;
  border-style: solid;
  border-width: 0;
}

.footer-widgets-outer-wrapper,
#site-footer {
  padding: 3rem 0;
}

/* Footer Widgets ---------------------------- */

.footer-widgets-outer-wrapper {
  border-bottom: 0.1rem solid #dedfdf;
}

.footer-widgets + .footer-widgets {
  margin-top: 3rem;
}

/* Footer Bottom ----------------------------- */

#site-footer {
  font-size: 1.6rem;
}

#site-footer .section-inner {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

#site-footer a {
  text-decoration: none;
}

#site-footer a:focus,
#site-footer a:hover {
  text-decoration: underline;
}

.footer-copyright a,
.powered-by-wordpress a {
  color: inherit;
}

.powered-by-wordpress,
.to-the-top {
  color: #6d6d6d;
}

a.to-the-top > * {
  pointer-events: none;
}

.footer-copyright {
  font-weight: 600;
  margin: 0;
}

.powered-by-wordpress {
  display: none;
  margin: 0 0 0 2.4rem;
}

.to-the-top-long {
  display: none;
}

@media (max-width: 479px) {
  ul,
  ol {
    margin: 0 0 3rem 2rem;
  }

  li {
    margin: 0.5rem 0 0 1rem;
  }
}

@media (min-width: 480px) {
  .alignleft {
    max-width: 26rem;
  }
}

@media (max-width: 599px) {
  .wp-block-column:last-child {
    margin-bottom: 0;
  }

  .wp-block-columns + .wp-block-columns {
    margin-top: 0.2rem;
  }

  .wp-block-columns.alignfull + .wp-block-columns.alignfull {
    margin-top: -1.8rem;
  }
  .template-cover .post-inner .post-meta-wrapper,
  .template-cover .post-inner .author-bio {
    width: calc(100% - 4rem);
  }
}

@media (min-width: 600px) {
  .wp-block-columns.alignfull + .wp-block-columns.alignfull {
    margin-top: -4rem;
  }
}

@media (min-width: 660px) {
  .entry-content > .alignleft {
    margin-left: 4rem;
  }

  .entry-content > p .alignleft,
  .entry-content > .wp-block-image .alignleft {
    margin-left: calc((100vw - 58rem - 8rem) / -2);
  }

  [class*="wp-block"]:not(.alignfull) [class*="__inner-container"] > .alignleft,
  [class*="wp-block"]:not(.alignfull)
    [class*="__inner-container"]
    > p
    .alignleft,
  [class*="wp-block"]:not(.alignfull)
    [class*="__inner-container"]
    > .wp-block-image
    .alignleft {
    margin-left: 0;
  }
}

@media (min-width: 700px) {
  ul,
  ol {
    margin-bottom: 4rem;
  }

  pre {
    padding: 3rem;
  }

  hr {
    margin: 8rem auto;
  }

  table {
    font-size: 1.8rem;
  }
  h1,
  h2,
  h3 {
    margin: 6rem auto 3rem;
  }
  h4,
  h5,
  h6 {
    margin: 4.5rem auto 2.5rem;
  }

  h1 {
    font-size: 6.4rem;
  }
  h2 {
    font-size: 4.8rem;
  }
  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 3.2rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  h6 {
    font-size: 1.8rem;
  }

  fieldset {
    padding: 3rem;
  }

  legend {
    padding: 0 1.5rem;
  }

  button,
  .button,
  .faux-button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    font-size: 1.7rem;
  }

  figcaption {
    margin-top: 1.8rem;
  }

  .section-inner {
    width: calc(100% - 8rem);
  }

  .header-inner {
    padding: 3.8rem 0;
  }

  .site-logo img {
    max-height: 9rem;
    transition: height 0.15s linear, width 0.15s linear, max-height 0.15s linear;
  }
  .toggle-inner .toggle-text {
    font-size: 1.2rem;
  }
  .nav-toggle {
    right: 2rem;
  }

  button.close-nav-toggle {
    font-size: 1.8rem;
    padding: 4rem 0;
  }

  button.close-nav-toggle svg {
    height: 2rem;
    width: 2rem;
  }

  button.close-nav-toggle .toggle-text {
    margin-right: 2.1rem;
  }

  .modal-menu {
    left: auto;
    width: 100%;
  }

  .modal-menu > li > a,
  .modal-menu > li > .ancestor-wrapper > a {
    font-size: 2.4rem;
    padding: 2.5rem 0;
  }

  .modal-menu ul li {
    border-left-color: transparent;
  }

  .modal-menu > li > .ancestor-wrapper > button.sub-menu-toggle {
    padding: 0 3rem;
  }

  .modal-menu > li > .ancestor-wrapper > button.sub-menu-toggle svg {
    height: 1.1rem;
    width: 1.8rem;
  }

  .menu-bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 4.4rem 0;
  }

  .menu-copyright {
    display: block;
    flex-shrink: 0;
    margin-right: 4rem;
  }
  h2.entry-title {
    font-size: 6.4rem;
  }

  .intro-text {
    font-size: 2rem;
    margin-top: 2.5rem;
  }

  .singular .intro-text {
    font-size: 2.6rem;
  }

  .post-meta-wrapper {
    margin-top: 3rem;
  }
  .post-meta {
    font-size: 1.6rem;
    margin: -1.4rem 0 0 -3rem;
  }
  .post-meta li {
    margin: 1.4rem 0 0 3rem;
    max-width: calc(100% - 3rem);
  }
  .post-inner {
    padding-top: 8rem;
  }

  .post-meta-wrapper.post-meta-single-bottom {
    margin-top: 4rem;
  }

  .author-bio {
    margin-top: 8rem;
    min-height: 8rem;
    padding-left: 10rem;
    position: relative;
  }

  .author-bio .avatar {
    position: absolute;
    left: 0;
    top: 0;
    height: 8rem;
    width: 8rem;
  }

  .pagination-single {
    font-size: 2.4rem;
    margin-top: 8rem;
  }

  .pagination-single-inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .pagination-single.only-next .pagination-single-inner {
    justify-content: flex-end;
  }

  .pagination-single hr:first-child {
    margin: 0 0 4rem 0;
  }

  .pagination-single hr:last-child {
    margin: 4rem 0 0.8rem 0;
  }

  .pagination-single a + a {
    margin: 0 0 0 4rem;
  }

  .pagination-single a .arrow {
    margin: 0 2rem 0 0;
  }

  .pagination-single .next-post {
    flex-direction: row-reverse;
    text-align: right;
  }

  .pagination-single .next-post .arrow {
    margin: 0 0 0 2rem;
  }

  .wp-block-columns:not(.alignfull),
  .wp-block-image:not(.alignfull):not(.alignleft):not(.aligncenter) {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  .wp-block-columns.alignfull + .wp-block-columns.alignfull {
    margin-top: -6rem;
  }

  .entry-content .wp-block-columns h1,
  .entry-content .wp-block-columns h2,
  .entry-content .wp-block-columns h3,
  .entry-content .wp-block-columns h4,
  .entry-content .wp-block-columns h5,
  .entry-content .wp-block-columns h6 {
    margin: 3.5rem 0 2rem;
  }

  .entry-content {
    font-size: 2.1rem;
  }

  .entry-content p,
  .entry-content li {
    line-height: 1.476;
  }

  .entry-content h1,
  .entry-content h2,
  .entry-content h3 {
    margin: 6rem auto 3rem;
  }

  .entry-content h4,
  .entry-content h5,
  .entry-content h6 {
    margin: 4.5rem auto 2.5rem;
  }

  .alignnone,
  .aligncenter {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  .alignleft {
    margin: 0.3rem 2rem 2rem 0;
  }
  .entry-content > .alignfull:first-child {
    margin-bottom: 8rem;
  }

  .alignfull > figcaption {
    width: calc(100% - 8rem);
  }

  div.comment:first-of-type {
    margin-top: 5rem;
  }
  .comment-author {
    font-size: 2.4rem;
  }
  .comment-form p.logged-in-as {
    margin: -2.5rem 0 4.4rem 0;
  }

  .nav-short {
    display: inline;
  }

  .nav-links > * {
    margin: 2.5rem 0 0 4rem;
  }
  .not-found #site-content {
    padding-top: 8rem;
  }
  .footer-widgets-outer-wrapper {
    padding: 8rem 0;
  }
  .footer-widgets-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: -4rem;
    width: calc(100% + 4rem);
  }
  .footer-widgets {
    margin-left: 4rem;
    width: 50%;
  }
  .footer-widgets + .footer-widgets {
    margin-top: 0;
  }
  .footer-widgets .widget {
    border-top: none;
    margin-top: 5rem;
    padding-top: 0;
  }

  .footer-widgets .widget:first-child {
    margin-top: 0;
  }

  #site-footer {
    font-size: 1.8rem;
    padding: 4.3rem 0;
  }
  .footer-credits {
    display: flex;
  }
  .footer-copyright {
    font-weight: 700;
  }
  .powered-by-wordpress {
    display: block;
  }
  .to-the-top-long {
    display: inline;
  }
  .to-the-top-short {
    display: none;
  }
}

@media (min-width: 782px) {
  .wp-block-column {
    margin-bottom: 0;
  }
  .wp-block-columns.alignfull + .wp-block-columns.alignfull {
    margin-top: -2.8rem;
  }
}

@media (min-width: 1000px) {
  #site-header {
    z-index: 2;
  }
  .header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2.8rem 0;
  }
  .header-titles-wrapper {
    margin-right: 4rem;
    max-width: 50%;
    padding: 0;
    text-align: left;
  }
  .header-titles {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -1rem 0 0 -2.4rem;
  }
  .header-titles .site-logo {
    margin: 1rem 0 0 2.4rem;
  }
  .wp-custom-logo .header-titles {
    align-items: center;
  }
  /* HEADER NAVIGATION */
  .header-navigation-wrapper {
    align-items: center;
    display: flex;
  }
  .primary-menu-wrapper {
    display: block;
    width: 100%;
  }
  .header-inner .toggle {
    display: none;
  }
  .header-inner .toggle-wrapper {
    position: relative;
  }
  .header-inner .toggle-wrapper::before {
    background: #dedfdf;
    content: "";
    display: block;
    height: 2.7rem;
    position: absolute;
    left: 0;
    top: calc(50% - 1.35rem);
    width: 0.1rem;
  }
  .header-inner .toggle-wrapper:first-child::before {
    content: none;
  }
  .toggle-inner {
    position: static;
  }
  .toggle-inner .toggle-text {
    left: 0;
    right: 0;
    text-align: center;
    top: calc(100% - 0.3rem);
    width: auto;
  }

  .menu-modal {
    opacity: 1;
    justify-content: flex-end;
    padding: 0;
    transition: background-color 0.3s ease-in, left 0s 0.3s, right 0s 0.3s;
  }
  .menu-modal.cover-modal {
    background: rgba(0, 0, 0, 0);
  }
  .menu-modal.active {
    background: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-out;
  }
  .menu-wrapper.section-inner {
    width: calc(100% - 8rem);
  }
  .menu-modal-inner {
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    padding: 0;
    transform: translateX(20rem);
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
    width: 50rem;
  }

  .menu-modal.active .menu-modal-inner {
    opacity: 1;
    transform: translateX(0);
    transition-timing-function: ease-out;
  }
  .mobile-menu {
    display: none;
  }
  .menu-bottom {
    padding: 6rem 0;
  }
  .menu-bottom .social-menu {
    justify-content: flex-start;
  }
  .singular .intro-text {
    font-size: 2.8rem;
  }
  .wp-block-columns.alignfull + .wp-block-columns.alignfull {
    margin-top: -4.8rem;
  }
  .wp-block-image .alignleft {
    margin-right: 0;
  }

  .wp-block-image .aligncenter figcaption {
    text-align: center;
  }
  .entry-content > .alignleft,
  .entry-content > p .alignleft,
  .entry-content > .wp-block-image .alignleft {
    position: absolute;

    right: calc((100vw - 58rem) / 2 + 58rem + 2rem);
    max-width: calc((100% - 58rem) / 2 - 6rem);
  }

  [class*="wp-block"]:not(.alignfull) [class*="__inner-container"] > .alignleft,
  [class*="wp-block"]:not(.alignfull)
    [class*="__inner-container"]
    > p
    .alignleft,
  [class*="wp-block"]:not(.alignfull)
    [class*="__inner-container"]
    > .wp-block-image
    .alignleft {
    position: relative;

    right: inherit;
    max-width: inherit;
  }

  [class*="wp-block"].alignfull [class*="__inner-container"] > .alignleft,
  [class*="wp-block"].alignfull [class*="__inner-container"] > p .alignleft,
  [class*="wp-block"].alignfull
    [class*="__inner-container"]
    > .wp-block-image
    .alignleft {
    position: absolute;
    right: calc((100% - 58rem) / 2 + 58rem + 4rem);
    max-width: calc((100% - 58rem) / 2 - 4rem);
  }

  [class*="wp-block"].alignfull [class*="__inner-container"] > .alignleft,
  [class*="wp-block"].alignfull [class*="__inner-container"] > p .alignleft,
  [class*="wp-block"].alignfull
    [class*="__inner-container"]
    > .wp-block-image
    .alignleft {
    margin-left: 4rem;
  }

  .alignfull > figcaption {
    width: calc(100% - 10rem);
  }

  .nav-links > * {
    margin: 0 2rem;
  }
}

@media (min-width: 1220px) {
  h1 {
    font-size: 8.4rem;
  }
  ul.primary-menu {
    margin: -0.8rem 0 0 -2.5rem;
  }

  .primary-menu > li {
    margin: 0.8rem 0 0 2.5rem;
  }
  .singular .intro-text {
    font-size: 3.2rem;
    letter-spacing: -0.03125em;
    line-height: 1.375;
  }

  .wp-block-columns.alignfull + .wp-block-columns.alignfull {
    margin-top: -6rem;
  }

  .entry-content > .alignfull {
    margin-bottom: 10rem;
    margin-top: 10rem;
  }
  .widget-content {
    font-size: 2.1rem;
  }
  .footer-widgets-wrapper {
    margin-left: -6rem;
    width: calc(100% + 6rem);
  }
  .footer-widgets {
    margin-left: 6rem;
  }
}

@media (min-width: 1280px) {
  .entry-content > .alignleft,
  .entry-content > p .alignleft,
  .entry-content > .wp-block-image .alignleft {
    right: calc((100vw - 58rem) / 2 + 58rem + 4rem);
    margin-left: -31rem;
  }
}
